<div id="sidebar">
  <h2>★PV数ランキング</h2>
  <ul>
    <% Article.most_popular.each do |article| %>
      <li><a href="
        <% article_path(article.id) %>"><%= article.title %><span>（<%= article.redis_page_view %>PV）</span></a></li>
    <% end %>
  </ul>
</div>
<div class="clear"></div>
